################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RapChieuPhim/DA_RapChieuPhim/DA_RapChieuPhim/bin/Debug
