################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RapChieuPhim/DA_RapChieuPhim/DA_RapChieuPhim/bin/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimBUS/bin/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimDAO/bin/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimDAO/obj/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimDTO/bin/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimBUS/obj/Debug
/RapChieuPhim/DA_RapChieuPhim/RapChieuPhimDTO/obj/Debug
